<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="default"/>
    <add key="AWSRegion" value="us-west-2" />

    <add key="toDebug" value ="Y"/>
    <add key="idFileName" value ="C:\transfer\solid-conversions\controller-last-id-file.txt" />
    <add key="driverFileName" value ="C:\transfer\solid-conversions\controller-driver-file.txt" />

    <add key="notProcessedIdsFileName" value ="C:\transfer\solid-conversions\controller-not-processed-ids.txt" />
    <add key="connectionString" value = "server=liveboard0913.cjvgiw4swlyc.us-west-1.rds.amazonaws.com;database=sum_up;uid=yerem;pwd=sua.liveboard.2018;" />

    <add key="pdfSource" value="bank_of_spain"/>
  
    <add key="rowsToProcessPerMessage" value ="5" />
    <add key="numberOfMessagesToSend" value ="5" />

    <!-- 
    this one is used to verify that id already exist in dynamo db 
    if set to true that id will be skipped not re-processed 
    -->
    
    <add key="skipProcessedId" value ="T"/>
    
    <add key="sendingQueueUrl" value ="https://sqs.us-west-2.amazonaws.com/788455561198/sumup-pdf-conversion"/>
    <!-- not used yet -->
    <add key="receivingQueueUrl" value ="https://sqs.us-west-2.amazonaws.com/788455561198/sumup-pdf-conversion-confirmation"/>
    
    
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

</configuration>